 <h1 class="headsss334 moveright"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; New Article</h1>
<br><br>
<div class="moveright">


<%= render 'form', article: @article %>
</div>
