<p id="notice"><%= notice %></p>
<%if logged_in?%>
<h1>Your Outfits</h1>
  <%outfits = Outfit.where(user_id: session[:user_id])%>
  <%outfits.each do |outfit|%>
  <ul>
    <li><%=link_to outfit.name, outfit_path(outfit)%></li>
  </ul>
  <%end%>

<h1>Links</h1>

<%=link_to "Create a new outfit", new_user_outfit_path(session[:user_id])%>
<%else%>
<br>


<%end%>
