<p id="notice"><%= notice %></p>
<%if logged_in?%>
<h1>Your Outfits</h1>
  <%outfits = Outfit.where(user_id: session[:user_id])%>
  <%outfits.each do |outfit|%>
  <ul>
    <li><%=link_to outfit.name, outfit_path(outfit)%></li>
  </ul>
  <%end%>


<%link_to "Create a new outfit", '/outfits/new'%>
<%else%>
<p><%=link_to "Click Here to Login", root_path%></p>

<%end%>
