<br>
<br>
<div class="headsss moverightright">Your Outfits</div>
  <%outfits = Outfit.where(user_id: session[:user_id])%>
  <%if outfits ==[]%>
    <div class="anyout">Looks like you don't have any outfits yet!</div>


    <br><br><br><br><br><br><br>
    <a class="newbutt" href=<%=new_user_outfit_path%>>
    <div class="button moveright2">
      Create a new outfit
    </div>
    </a>

  <%else%>
    <%outfits.each do |outfit|%>
    <ul>
      <li><%=link_to outfit.name, user_outfit_path(outfit.user,outfit)%></li>
    </ul>
    <%end%>


  <%end%>
