<br>
<br>
<h3>Your Outfits</h3>
  <%outfits = Outfit.where(user_id: session[:user_id])%>
  <%if outfits ==[]%>
    <h5>Looks like you don't have any outfits yet!</h5>
  <%else%>
    <%outfits.each do |outfit|%>
    <ul>
      <li><%=link_to outfit.name, user_outfit_path(outfit.user,outfit)%></li>
    </ul>
    <%end%>
  <%=link_to "Create a new outfit", new_user_outfit_path%>

  <%end%>
