<div id="canvasWrapper">
    	<div id="canvas">

    		<header id="header">

          <h1> HELLO </h1>

          <img src="brown_shoes.png"  width="100" height="100">

              <h1 class="logo" data-shrink-original-size="24" style="letter-spacing: 0.125em;"><a href="/"><img src=logo.png></a></h1>




    		</header>
        <script>
          Y.use('squarespace-ui-base', function(Y) {
            Y.one("h1.logo").plug(Y.Squarespace.TextShrink, {
              parentEl: Y.one('#header')
            });
          });
        </script>




          <div class="page-divider"></div>
          <div id="top" data-collection-id="532b4300e4b0dca0929717a4">
            <p class="page-title">About</p>

          </div>








    		<h1 id="page" role="main" data-content-field="main-content" data-collection-id="532b4300e4b0dca0929717a4" data-edit-main-image="Banner">
    		  <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1490892077946" id="page-532b4300e4b0dca0929717a4"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block video-block sqs-block-video" data-block-json="{&quot;layout&quot;:&quot;caption-hidden&quot;,&quot;overlay&quot;:true,&quot;description&quot;:{&quot;html&quot;:&quot;In 2005, four friends founded a company called Refinery29 with a mission to help people discover and refine their personal style. Starting with just a $5,000 investment and based out of a 750 square foot apartment, we published only one story a week.&quot;},&quot;customThumb&quot;:&quot;53693e5ae4b0f1e619b03ce0&quot;,&quot;html&quot;:&quot;<iframe src=\&quot;//www.youtube.com/embed/mExu9hdCvmo?feature=youtu.be&amp;amp;wmode=opaque&amp;amp;enablejsapi=1\&quot; height=\&quot;480\&quot; width=\&quot;854\&quot; scrolling=\&quot;no\&quot; frameborder=\&quot;0\&quot; allowfullscreen=\&quot;\&quot;>\n</iframe>&quot;,&quot;url&quot;:&quot;https://www.youtube.com/watch?v=mExu9hdCvmo&amp;feature=youtu.be&quot;,&quot;width&quot;:854,&quot;height&quot;:480,&quot;providerName&quot;:&quot;YouTube&quot;,&quot;thumbnailUrl&quot;:&quot;http://i1.ytimg.com/vi/mExu9hdCvmo/hqdefault.jpg&quot;,&quot;resolvedBy&quot;:&quot;youtube&quot;}" data-block-type="32" id="block-fc818da6fc4d1bab2f24"><div class="sqs-block-content" id="yui_3_17_2_1_1510863357735_91"><div class="intrinsic" style="max-width:100%"><div class="embed-block-wrapper" style="padding-bottom:56.20609%;"><div class="sqs-video-wrapper video-none" data-html="<iframe src=&quot;//www.youtube.com/embed/mExu9hdCvmo?feature=youtu.be&amp;wmode=opaque&amp;enablejsapi=1&quot; height=&quot;480&quot; width=&quot;854&quot; scrolling=&quot;no&quot; frameborder=&quot;0&quot; allowfullscreen=&quot;&quot;><br/></iframe>" data-provider-name="YouTube" id="yui_3_17_2_1_1510863357735_98"><div class="intrinsic"><div class="intrinsic-inner" style="padding-bottom: 56.2061%;"><div class="sqs-video-overlay" style="opacity: 1; overflow: hidden;" id="yui_3_17_2_1_1510863357735_118"><img data-src="https://static1.squarespace.com/static/5315d6cae4b0a2b0a3806c01/t/53693e5ae4b0f1e619b03ce0/1399406180224/CorporateSite_Video_Opener_1200x770+%281%29.jpg" data-load="false" data-image-focal-point="0.5,0.5" class="loaded" data-image-dimensions="100x64" data-position-mode="standard" data-parent-ratio="1.8" src="https://static1.squarespace.com/static/5315d6cae4b0a2b0a3806c01/t/53693e5ae4b0f1e619b03ce0/1399406180224/CorporateSite_Video_Opener_1200x770+%281%29.jpg?format=1000w" style="font-size: 0px; left: 0px; top: -23.94px; width: 617px; height: 394.88px; position: relative;" data-image-resolution="1000w"><div class="sqs-video-opaque"></div><div class="sqs-video-icon"></div></div></div></div></div></div></div></div></div><div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-ce6d9e74cbd3af384bd4"><div class="sqs-block-content"><hr></div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-84e521c32ecec3ca88c4"><div class="sqs-block-content"><h1 class="text-align-center">Our Story</h1><p>In 2005, four friends founded a company called Refinery29 with a mission to help people discover and refine their personal style. Starting with just a $5,000 investment and based out of a 750 square foot apartment, we published only one story a week. And now, eleven years later, we've grown to nearly 450 employees, have offices worldwide (Hey LA! Hello London! Hi Berlin!)&nbsp;As time went on, we grew and grew — and were even named the fastest growing media company in the US.&nbsp;With over 500 million users across platforms, Refinery29 has created a truly global community.</p><p>In 2016, people around the world spent 50 million hours on the site, which is more than 2 million days or 5.7 thousand years. And, what were people consuming in all that time? Everything. Our content ranges from style trends and beauty DIYs to first person accounts from the political front lines, thought pieces on representation in media, &nbsp;advice from industry leaders on how to be a badass in the workplace, and more— all through Refinery29's signature lens of optimism and inclusivity.&nbsp;Our content is global and can be found anywhere, from your desktop to your Snapchat,&nbsp;videos and IRL through events. And with that, Refinery29 has become the number-one destination for women who crave style and substance, thought-provoking conversations, and the inspiration to live a more creative life.</p></div></div></div></div></div>
    		</h1>

        <div class="page-divider"></div>

        <footer id="footer">





          <div id="bottomNav" data-content-field="navigation">
	<nav class="foot-nav">
		<ul>

		</ul>
	</nav>
</div>



    	</div><!-- / #canvas -->
    </div>
