body,
html,
h3 {
	height: 100%;
}

.bg {
	background-image: url("Mens-Closet-Orgaznier-System.jpg");
	height: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.funfun {
	image: url("logo.jpeg");
	width: 20%;
	height: 20%;
}
.mask {
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.2;
	z-index: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: white;
	opacity: 0.8;
	font-style: italic;
	font-weight: 100;
	font-family: 'Cormorant', serif;
	letter-spacing: 4px
}

.moveright {
	;
}

* {
	font-size: 101%;
	letter-spacing: 2px
}

.on-top {
	z-index: 1;
	position: absolute;
}

.box {
	color: #0
}

input:focus {
	outline: none !important;
	box-shadow: 0 0 0;
	border-bottom: white;
	padding: 3px;
	font-family: 'Palatino Linotype', 'Book Antiqua', serif;
	letter-spacing: 3px
}

.button {
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding: 10px 20px !important;
	font-weight: 200;
	display: inline-block;
	background-color: rgba(121, 121, 134, 0.0);
	transition-duration: 0.4s;
	color: white;
	letter-spacing: 8px
}

a.nav-link {
 color: black;
}

.button:hover {
	background-color: rgba(121, 121, 134, 0.1);
	border-color: rgba(0, 0, 0, 0);
	transition-duration: 0.2s;
	color: white !important;
}

.headings {
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
	text-indent: 200px
}

.headings1 {
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
	text-indent: 425px;
}

input.transparent-input {
	background-color: rgba(0, 0, 0, 0) !important;
	border-bottom: white;
	color: white;
	font-weight: 500;
	font-family: 'Palatino Linotype', 'Book Antiqua', serif;
	letter-spacing: 4px border:0;
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid white;
}
